[phases.setup]
nixPkgs = ["python310"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[phases.build]
cmds = ["python manage.py collectstatic --noinput --no-input"]

[start]
cmd = "python manage.py migrate && gunicorn household_budget.wsgi:application --bind 0.0.0.0:$PORT"
